* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --main-bg-color: linear-gradient(315deg, #2e8338 0%, #233329 74%);
}


body {
    width: 100%;
    font-family: "Karla", sans-serif;
    margin: 0;
    padding: 0;
    background: rgba(24, 84, 24, 0.721);
}

#root {
    display: flex;
    justify-content: center;
}



.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}


main {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}